# splot application files

web/_min
web/application
web/filestorage
web/modules
web/modulesapp

# config files

config/parameters.yml
phpunit.xml

# app artifacts

.cache/
logs/

# 3rd party code

node_modules/
vendor/

# other artifacts

.cookbooks
.vagrant
resources/coverage
*.sublime-project
*.sublime-workspace
codekit-config.json
