# splot application files

app/tests/coverage
web/_min
web/application
web/filestorage
web/modules
web/modulesapp

# config files

config/parameters.yml

# app artifacts

app/cache/
logs/

# 3rd party code

node_modules/
vendor/

# other artifacts

.cookbooks
.vagrant
*.sublime-project
*.sublime-workspace
codekit-config.json
